.u-section-1 .u-sheet-1 {
  min-height: 377px;
}

.u-section-1 .u-form-1 {
  height: 67px;
  width: 570px;
  margin: 282px auto 28px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 613%;
  top: -257%;
}

@media (max-width: 1199px) {
  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 197%;
    left: -49%;
    height: 100%;
    top: 0%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 647px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.75rem;
  font-weight: normal;
  margin: 75px auto 0 224px;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.75rem;
  font-weight: normal;
  margin: -52px auto 0 349px;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.75rem;
  font-weight: normal;
  margin: -52px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.75rem;
  font-weight: normal;
  margin: -52px auto 0 670px;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  font-size: 1.75rem;
  font-weight: normal;
  margin: -52px auto 0 735px;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  font-size: 1.75rem;
  margin: -52px auto 0 860px;
  padding: 0;
}

.u-section-2 .u-blog-1 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 383px;
}

.u-section-2 .u-repeater-item-1 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 191px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  text-decoration: underline !important;
  font-weight: normal;
  margin: 34px 291px 0 22px;
}

.u-section-2 .u-text-2 {
  margin: -22px 250px 0 63px;
}

.u-section-2 .u-text-3 {
  margin: -22px 200px 0 113px;
}

.u-section-2 .u-text-4 {
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 4px 125px 0 20px;
}

.u-section-2 .u-text-5 {
  font-size: 0.75rem;
  margin: 12px 123px 0 22px;
}

.u-section-2 .u-repeater-item-2 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 191px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  text-decoration: underline !important;
  margin: 34px 291px 0 22px;
}

.u-section-2 .u-text-7 {
  margin: -22px 250px 0 63px;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: -22px 200px 0 113px;
}

.u-section-2 .u-text-9 {
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 4px 125px 0 20px;
}

.u-section-2 .u-text-10 {
  font-size: 0.75rem;
  margin: 12px 123px 0 22px;
}

.u-section-2 .u-repeater-item-3 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 191px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  text-decoration: underline !important;
  margin: 34px 291px 0 22px;
}

.u-section-2 .u-text-12 {
  margin: -22px 250px 0 63px;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: -22px 200px 0 113px;
}

.u-section-2 .u-text-14 {
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 4px 125px 0 20px;
}

.u-section-2 .u-text-15 {
  font-size: 0.75rem;
  margin: 12px 123px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 104px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 237px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 406px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 575px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 647px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 780px;
  }

  .u-section-2 .u-blog-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-item-1 {
    background-size: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 100px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-text-11 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 13px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 102px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 102px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 188px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 357px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 429px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 562px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-3 {
    margin-left: 102px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 177px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 249px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 382px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 322px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 322px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-4 {
    margin-left: 102px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 102px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 182px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 215px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 215px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 215px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 591px;
}

.u-section-3 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 226px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 218px;
  height: 226px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.625rem;
  margin: -192px 297px 0 147px;
}

.u-section-3 .u-text-2 {
  font-size: 0.9375rem;
  text-decoration: underline !important;
  margin: -24px 796px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px 285px 0 147px;
}

.u-section-3 .u-text-4 {
  font-size: 0.75rem;
  margin: -51px 796px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.8125rem;
  font-weight: 700;
  text-decoration: none solid rgb(26, 26, 26);
  margin: 6px 1083px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.8125rem;
  font-weight: 700;
  text-align: left;
  margin: -22px 1049px 0 52px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 41px 308px 0 auto;
  padding: 4px 25px 4px 24px;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: -27px 511px 0 282px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: -22px 885px 0 147px;
}

.u-section-3 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 41px;
  transform-origin: left center 0px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px auto 60px;
  padding: 6px 30px 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-1 {
    margin-right: 197px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 596px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 185px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 596px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 883px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 901px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 108px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 411px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 785px;
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 24px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 376px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 376px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 663px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 681px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 301px;
    margin-left: 72px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 612px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 196px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 196px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 483px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 501px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 193px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 432px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 283px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 301px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 232px;
  }
}