.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-text-1 {
  font-size: 2.8125rem;
  margin: 61px auto 0 465px;
}

.u-section-1 .u-form-1 {
  height: 569px;
  margin: 24px 379px 0 393px;
}

.u-section-1 .u-input-1 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-size: 1.3125rem;
  margin: -139px 729px 0 273px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -432px 280px 0 auto;
  padding: 4px 19px 5px 17px;
}

.u-section-1 .u-text-3 {
  font-size: 1.3125rem;
  margin: -29px 832px 0 273px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  font-size: 1.3125rem;
  margin: 31px 798px 0 273px;
}

.u-section-1 .u-text-5 {
  text-align: start;
  font-size: 1.3125rem;
  margin: 30px 772px 0 273px;
}

.u-section-1 .u-text-6 {
  text-align: start;
  font-size: 1.3125rem;
  margin: 37px 798px 0 273px;
}

.u-section-1 .u-text-7 {
  text-align: start;
  font-size: 1.3125rem;
  margin: 34px 755px 0 273px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 24px auto 0 765px;
  padding: 4px 18px;
}

.u-section-1 .u-text-8 {
  text-align: start;
  font-size: 1.3125rem;
  margin: -24px 785px 0 273px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 27px 279px 0 auto;
  padding: 4px 33px;
}

.u-section-1 .u-text-9 {
  text-align: start;
  font-size: 1.3125rem;
  margin: -25px 755px 60px 273px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 383px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 279px;
    margin-left: 293px;
    width: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -189px;
    margin-right: 586px;
    margin-left: 216px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -388px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -42px;
    margin-right: 732px;
    margin-left: 232px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 70px;
    margin-right: 640px;
    margin-left: 232px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 613px;
    margin-left: 232px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 640px;
    margin-left: 232px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 597px;
    margin-left: 232px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 81px;
    margin-left: 565px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -81px;
    margin-right: 626px;
    margin-left: 232px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 77px;
    margin-right: 79px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -79px;
    margin-right: 613px;
    margin-left: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 293px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 169px;
    margin-left: 183px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 366px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 622px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 420px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 393px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 420px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 377px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 345px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 406px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 220px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 79px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 240px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 505px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 298px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 271px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 298px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 255px;
    margin-left: 174px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 284px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 267px;
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 139px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 305px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 162px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 135px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 162px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 119px;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 148px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 127px;
    margin-left: 102px;
  }
}