.u-section-1 .u-sheet-1 {
  min-height: 1078px;
}

.u-section-1 .u-group-1 {
  width: 231px;
  min-height: 116px;
  margin: 147px auto 0 29px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: 2px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  text-align: center;
  margin: 15px 0 0;
  padding: 9px 71px 10px;
}

.u-section-1 .u-text-3 {
  text-align: left;
  font-weight: 700;
  font-size: 2.25rem;
  margin: -110px auto 0 311px;
}

.u-section-1 .u-line-1 {
  width: 800px;
  height: 3px;
  transform-origin: center top 0px;
  text-align: center;
  margin: 25px 51px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 68px;
  margin: 8px 51px 0 651px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 231px;
  margin: -8px auto 0 29px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 210px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-1 {
  width: 822px;
  margin: -167px 29px 60px auto;
}

.u-block-e175-155 {
  border-style: solid;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-weight: bold;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-section-1 .u-table-cell-21 {
  border-style: solid;
}

.u-section-1 .u-table-cell-22 {
  border-style: solid;
}

.u-section-1 .u-table-cell-23 {
  border-style: solid;
}

.u-section-1 .u-table-cell-24 {
  border-style: solid;
}

.u-section-1 .u-table-cell-25 {
  border-style: solid;
}

.u-section-1 .u-table-cell-26 {
  border-style: solid;
}

.u-section-1 .u-table-cell-27 {
  border-style: solid;
}

.u-section-1 .u-table-cell-28 {
  border-style: solid;
}

.u-section-1 .u-table-cell-29 {
  border-style: solid;
}

.u-section-1 .u-table-cell-30 {
  border-style: solid;
}

.u-section-1 .u-table-cell-31 {
  border-style: solid;
}

.u-section-1 .u-table-cell-32 {
  border-style: solid;
}

.u-section-1 .u-table-cell-33 {
  border-style: solid;
}

.u-section-1 .u-table-cell-34 {
  border-style: solid;
}

.u-section-1 .u-table-cell-35 {
  border-style: solid;
}

.u-section-1 .u-table-cell-36 {
  border-style: solid;
}

.u-section-1 .u-table-cell-37 {
  border-style: solid;
}

.u-section-1 .u-table-cell-38 {
  border-style: solid;
}

.u-section-1 .u-table-cell-39 {
  border-style: solid;
}

.u-section-1 .u-table-cell-40 {
  border-style: solid;
}

.u-section-1 .u-table-cell-41 {
  border-style: solid;
}

.u-section-1 .u-table-cell-42 {
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 146px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 608px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 636px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1346px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 1261px;
    margin-left: 289px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 34px;
    margin-left: 451px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -6px;
  }

  .u-section-1 .u-table-1 {
    height: 498px;
    margin-top: -56px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: 238px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 282px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 179px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: 166px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 134px;
    margin-left: 102px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -131px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: -174px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 598px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 640px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -1333px;
    margin-left: 113px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 1255px;
    margin-left: 105px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}