.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 147px 336px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-group-1 {
  width: 231px;
  min-height: 116px;
  margin: -40px auto 0 29px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: 2px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  text-align: center;
  margin: 15px 0 0;
  padding: 9px 71px 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -115px auto 0 336px;
}

.u-section-1 .u-line-1 {
  width: 832px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 21px 0 0 auto;
}

.u-section-1 .u-form-1 {
  height: 414px;
  margin: 42px 269px 0 448px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-4 {
  text-align: start;
  margin: -278px auto 0 308px;
}

.u-section-1 .u-text-5 {
  margin: 196px auto 0;
}

.u-section-1 .u-text-6 {
  margin: -358px auto 0 308px;
}

.u-section-1 .u-list-1 {
  width: 231px;
  margin: -18px auto 0 29px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 298px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-14 {
  text-align: start;
  margin: -249px auto 0 308px;
}

.u-section-1 .u-text-15 {
  text-align: start;
  margin: 93px auto 0 308px;
}

.u-section-1 .u-text-16 {
  text-align: start;
  margin: 32px auto 0 308px;
}

.u-section-1 .u-text-17 {
  text-align: start;
  margin: 35px auto 60px 308px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 136px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 608px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 636px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 277px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -378px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -167px;
  }

  .u-section-1 .u-text-17 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 212px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 159px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 117px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 598px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 640px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -193px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 111px;
  }
}