.u-section-1 .u-sheet-1 {
  min-height: 990px;
}

.u-section-1 .u-group-1 {
  width: 231px;
  min-height: 116px;
  margin: 89px auto 0 29px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: 2px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  text-align: center;
  margin: 15px 0 0;
  padding: 9px 71px 10px;
}

.u-section-1 .u-line-1 {
  width: 800px;
  height: 3px;
  transform-origin: center top 0px;
  text-align: center;
  margin: -45px 51px 0 289px;
}

.u-section-1 .u-tabs-1 {
  min-height: 681px;
  width: 815px;
  margin: -53px 36px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 68px;
  margin: 29px 0 0 314px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-table-1 {
  width: 774px;
  margin: 29px auto 0;
}

.u-block-6aca-155 {
  border-style: solid;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-weight: bold;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-section-1 .u-table-cell-21 {
  border-style: solid;
}

.u-section-1 .u-table-cell-22 {
  border-style: solid;
}

.u-section-1 .u-table-cell-23 {
  border-style: solid;
}

.u-section-1 .u-table-cell-24 {
  border-style: solid;
}

.u-section-1 .u-table-cell-25 {
  border-style: solid;
}

.u-section-1 .u-table-cell-26 {
  border-style: solid;
}

.u-section-1 .u-table-cell-27 {
  border-style: solid;
}

.u-section-1 .u-table-cell-28 {
  border-style: solid;
}

.u-section-1 .u-table-cell-29 {
  border-style: solid;
}

.u-section-1 .u-table-cell-30 {
  border-style: solid;
}

.u-section-1 .u-table-cell-31 {
  border-style: solid;
}

.u-section-1 .u-table-cell-32 {
  border-style: solid;
}

.u-section-1 .u-table-cell-33 {
  border-style: solid;
}

.u-section-1 .u-table-cell-34 {
  border-style: solid;
}

.u-section-1 .u-table-cell-35 {
  border-style: solid;
}

.u-section-1 .u-table-cell-36 {
  border-style: solid;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 12px;
}

.u-section-1 .u-form-2 {
  height: 68px;
  width: 478px;
  margin: 0 0 0 297px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-table-2 {
  width: 774px;
  margin: 28px auto 0;
}

.u-block-6aca-248 {
  border-style: solid;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  font-weight: bold;
}

.u-section-1 .u-table-cell-38 {
  border-style: solid;
}

.u-section-1 .u-table-cell-44 {
  border-style: solid;
}

.u-section-1 .u-table-cell-45 {
  border-style: solid;
}

.u-section-1 .u-table-cell-46 {
  border-style: solid;
}

.u-section-1 .u-table-cell-47 {
  border-style: solid;
}

.u-section-1 .u-table-cell-48 {
  border-style: solid;
}

.u-section-1 .u-table-cell-49 {
  border-style: solid;
}

.u-section-1 .u-table-cell-50 {
  border-style: solid;
}

.u-section-1 .u-table-cell-51 {
  border-style: solid;
}

.u-section-1 .u-table-cell-52 {
  border-style: solid;
}

.u-section-1 .u-table-cell-53 {
  border-style: solid;
}

.u-section-1 .u-table-cell-54 {
  border-style: solid;
}

.u-section-1 .u-table-cell-55 {
  border-style: solid;
}

.u-section-1 .u-table-cell-56 {
  border-style: solid;
}

.u-section-1 .u-table-cell-57 {
  border-style: solid;
}

.u-section-1 .u-table-cell-58 {
  border-style: solid;
}

.u-section-1 .u-table-cell-59 {
  border-style: solid;
}

.u-section-1 .u-table-cell-60 {
  border-style: solid;
}

.u-section-1 .u-table-cell-61 {
  border-style: solid;
}

.u-section-1 .u-table-cell-62 {
  border-style: solid;
}

.u-section-1 .u-table-cell-63 {
  border-style: solid;
}

.u-section-1 .u-table-cell-64 {
  border-style: solid;
}

.u-section-1 .u-table-cell-65 {
  border-style: solid;
}

.u-section-1 .u-table-cell-66 {
  border-style: solid;
}

.u-section-1 .u-table-cell-67 {
  border-style: solid;
}

.u-section-1 .u-table-cell-68 {
  border-style: solid;
}

.u-section-1 .u-table-cell-69 {
  border-style: solid;
}

.u-section-1 .u-table-cell-70 {
  border-style: solid;
}

.u-section-1 .u-table-cell-71 {
  border-style: solid;
}

.u-section-1 .u-table-cell-72 {
  border-style: solid;
}

.u-section-1 .u-table-cell-73 {
  border-style: solid;
}

.u-section-1 .u-table-cell-74 {
  border-style: solid;
}

.u-section-1 .u-table-cell-75 {
  border-style: solid;
}

.u-section-1 .u-table-cell-76 {
  border-style: solid;
}

.u-section-1 .u-table-cell-77 {
  border-style: solid;
}

.u-section-1 .u-table-cell-78 {
  border-style: solid;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 13px;
}

.u-section-1 .u-form-3 {
  height: 68px;
  width: 388px;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-table-3 {
  margin: 24px 0 0;
}

.u-block-6aca-318 {
  border-style: solid;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-79 {
  font-weight: bold;
}

.u-section-1 .u-table-cell-80 {
  border-style: solid;
}

.u-section-1 .u-table-cell-83 {
  border-style: solid;
}

.u-section-1 .u-table-cell-84 {
  border-style: solid;
}

.u-section-1 .u-table-cell-85 {
  border-style: solid;
}

.u-section-1 .u-table-cell-86 {
  border-style: solid;
}

.u-section-1 .u-table-cell-87 {
  border-style: solid;
}

.u-section-1 .u-table-cell-88 {
  border-style: solid;
}

.u-section-1 .u-table-cell-89 {
  border-style: solid;
}

.u-section-1 .u-table-cell-90 {
  border-style: solid;
}

.u-section-1 .u-table-cell-91 {
  border-style: solid;
}

.u-section-1 .u-table-cell-92 {
  border-style: solid;
}

.u-section-1 .u-table-cell-93 {
  border-style: solid;
}

.u-section-1 .u-table-cell-94 {
  border-style: solid;
}

.u-section-1 .u-table-cell-95 {
  border-style: solid;
}

.u-section-1 .u-table-cell-96 {
  border-style: solid;
}

.u-section-1 .u-table-cell-97 {
  border-style: solid;
}

.u-section-1 .u-table-cell-98 {
  border-style: solid;
}

.u-section-1 .u-table-cell-99 {
  border-style: solid;
}

.u-section-1 .u-table-cell-100 {
  border-style: solid;
}

.u-section-1 .u-table-cell-101 {
  border-style: solid;
}

.u-section-1 .u-table-cell-102 {
  border-style: solid;
}

.u-section-1 .u-text-3 {
  text-align: left;
  font-weight: 700;
  margin: -688px auto 0 296px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 635px 228px 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px 80px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 231px;
  margin: -601px auto 391px 29px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 210px;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 8px 10px 0;
}

.u-section-1 .u-text-8 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 608px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 636px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-table-1 {
    height: 498px;
  }

  .u-section-1 .u-table-2 {
    height: 478px;
  }

  .u-section-1 .u-table-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 28px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 219px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 218px;
  }

  .u-section-1 .u-table-2 {
    width: 696px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 227px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 33px;
    margin-left: 39px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 42px;
  }

  .u-section-1 .u-table-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 598px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 640px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 0;
    width: 320px;
  }

  .u-section-1 .u-table-2 {
    width: 320px;
  }

  .u-section-1 .u-form-3 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 107px;
  }
}