<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.daily.share.dao.CsjDAO">

	<!-- 댓글 목록 -->
	<select id="csj_com" resultType="com.daily.share.dto.CsjCommentDTO">
		select com_num,mem_id,board_num,com_parent,com_depth,com_cont,com_date,com_secret,com_blind,com_targetId from comment where board_num=#{param1} and com_blind=0 order by com_parent, com_num
	</select>

	<!-- 댓글 등록 -->
	<insert id="com_regist" useGeneratedKeys="true" keyProperty="com_num" keyColumn="com_num" parameterType="com.daily.share.dto.CsjCommentDTO">
		insert into comment(mem_id,board_num,com_parent,com_depth,com_cont,com_secret,com_targetId)
			values(#{mem_id},#{board_num},#{com_parent},#{com_depth},#{com_cont},#{com_secret},#{com_targetId})
	</insert>
	
	<!-- 부모댓글 정보 등록 -->
	<update id="csj_com_parent">
		update comment set com_parent = #{param1} where com_num=#{param1}
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="com_del">
		update comment set com_blind=1 where com_num=#{param1}
	</update>
	
	<!-- 댓글 수정 -->
	<update id="com_update">
		update comment set com_cont=#{param2} where com_num=#{param1}
	</update>
	
	
	<!-- 댓글 알림 등록 -->
	<insert id="com_inAlarm">
		insert into alarm (alarm_targetNum,alarm_target,mem_id) values(#{param1},#{param2},#{param3})
	</insert>
	
	
	
	
	<!-- 메뉴 목록 불러오기 -->
	<select id="csj_menuCall" resultType="com.daily.share.dto.CsjMenuDTO">
		select menu_num,menu_name,menu_blind,mem_id,main_num,mid_num from menu where mem_id = #{param1} and menu_blind=0
	</select>
	
	
	<!-- 게시글(board) 등록 -->
	<insert id="csj_postUpload" useGeneratedKeys="true" keyProperty="board_num" keyColumn="board_num" parameterType="com.daily.share.dto.CsjBoardDTO">
		insert into board(board_subject,board_cont,board_scope,mem_id,menu_num) values(#{board_subject},#{board_cont},#{board_scope},#{mem_id},#{menu_num})
	</insert>
	
	<!-- 사진(photo) 등록 -->
	<insert id="csj_photoUpload">
		insert into photo(photo_oriName,photo_newName,board_num) values(#{param2},#{param3},#{param1})
	</insert>
	
	<!-- 썸네일 정보 업데이트 -->
	<update id="csj_thumbUpdate">
		update board set board_thumFileName=#{param2} where board_num=#{param1}
	</update>
	
	<!-- 태그 등록 -->
	<insert id="csj_tagUpload">
		insert into tag(tag_content,board_num)values(#{param2},#{param1})
	</insert>
	
	
	<!-- 글작성자와 일치하는 구독자 불러오기 -->
	<select id="searchSubId" resultType="String">
		select sub_id from subscription where mem_id = #{param1}
	</select>
	
	<!-- 멤버 리스트 불러오기 -->
	<select id="testList" resultType="com.daily.share.dto.CsjMembersDTO">
		select mem_id,mem_pw,mem_name,mem_email,mem_phone,mem_admin,mem_url,mem_out,mem_san,mem_blog from members where mem_out=0
	</select>
	
	
	
	<select id="blogName" resultType="String">
		select mem_blog from members where mem_id=#{param1}
	</select>
	
	<!-- 개인 블로그에서 글 목록 불러오기 -->
	<select id="boardCall" resultType="com.daily.share.dto.CsjPersonalBlogDTO">
		select b.board_num,b.board_subject,b.board_cont,b.board_date,b.board_updateDate,b.board_views,b.board_like,b.board_scope,b.board_blind,b.mem_id,b.board_thumFileName
			,m.menu_num,m.menu_name,m.menu_blind,m.main_num,m.mid_num 
				from board b left outer join menu m on b.menu_num = m.menu_num where b.mem_id =#{param1} and b.board_blind=0 order by  b.board_num desc
	</select>
	
	<!-- 블로그 페이징용 개수 확인 -->
	<select id="csjAllCount" resultType="int">
		select count(board_num) from board where mem_id = #{param1} and board_blind=0 
	</select>
	
	<!-- 메인 페이징하면서 글 목록 불러오기 -->
	<select id="pagingBoardCall" resultType="com.daily.share.dto.CsjPersonalBlogDTO">
		select b.board_num,b.board_subject,b.board_cont,b.board_date,b.board_updateDate,b.board_views,b.board_like,b.board_scope,b.board_blind,b.mem_id,b.board_thumFileName
			,m.menu_num,m.menu_name,m.menu_blind,m.main_num,m.mid_num 
				from board b left outer join menu m on b.menu_num = m.menu_num where b.mem_id =#{param3} and b.board_blind=0  order by  b.board_num desc limit #{param1} offset #{param2}
	</select>
	
	<!-- 메뉴글 페이징용 개수 확인 -->
	<select id="csjAllCountMenu" resultType="int">
		select count(board_num) from board where mem_id = #{param1} and menu_num =#{param2} and board_blind=0 
	</select>
	
	<!-- 메뉴페이징하면서 메뉴글 목록 불러오기 -->
	<select id="pagingBoardCallMenu" resultType="com.daily.share.dto.CsjPersonalBlogDTO">
		select b.board_num,b.board_subject,b.board_cont,b.board_date,b.board_updateDate,b.board_views,b.board_like,b.board_scope,b.board_blind,b.mem_id,b.board_thumFileName
			,m.menu_num,m.menu_name,m.menu_blind,m.main_num,m.mid_num 
				from board b left outer join menu m on b.menu_num = m.menu_num where b.mem_id =#{param3} and m.menu_num=#{param4} and b.board_blind=0  order by  b.board_num desc limit #{param1} offset #{param2}
	</select>
	
	
	<!-- 게시글 상세보기 -->
	<select id="csj_detail" resultType="com.daily.share.dto.CsjPersonalBlogDTO">
		select b.board_num,b.board_subject,b.board_cont,b.board_date,b.board_updateDate,b.board_views,b.board_like,b.board_scope,b.board_blind,b.mem_id,b.board_thumFileName
			,m.menu_num,m.menu_name,m.menu_blind,m.main_num,m.mid_num 
				from board b left outer join menu m on b.menu_num = m.menu_num where b.board_num =#{param1} and b.board_blind=0;
	</select>
	
	
	<!-- 게시글 태그 불러오기 -->
	<select id="tagCall" resultType="String">
		select tag_content from tag where board_num=#{param1}
	</select>
	
	
	
	<!-- 사진 불러오기 -->
	<select id="photoCall" resultType="com.daily.share.dto.CsjPhotoDTO">
		select * from photo where board_num=#{param1}
	</select>
	
	<!-- 태그 삭제 -->
	<delete id="csj_tagDel">
		delete from tag where tag_content=#{param1} and board_num=#{param2}
	</delete>
	
	
	<!-- 게시글 수정 -->
	<update id="csj_postUpdate" parameterType="com.daily.share.dto.CsjPersonalBlogDTO">
		update board set board_subject=#{board_subject},board_cont=#{board_cont},board_scope=#{board_scope},menu_num=#{menu_num} where board_num=#{board_num}
	</update>
	
	
	
	<!-- 사진 삭제 -->
	<delete id="photoDelete">
		delete from photo where board_num=#{param1} and photo_newName =#{param2} 
	</delete>
	
	
	<!-- 썸네일 업데이트 2 -->
	<update id="csj_thumbUpdateTwo">
		update board set board_thumFileName=#{param2} where board_num=#{param1}
	</update>
	
	
	<!-- 신고된 게시글 불러오기 -->
	<select id="csj_singoBCont" resultType="com.daily.share.dto.CsjBoardDTO">
		select * from board where board_num=#{param1}
	</select>
	<select id="csj_singoCCont" resultType="com.daily.share.dto.CsjCommentDTO">
		select * from comment where com_num=#{param1}
	</select>
	
	<!-- 신고항목 사용 여부 확인 -->
	<select id="csj_decCheck" resultType="int">
		select dec_blind from declarationcontents where dec_code=#{param1}
	</select>
	
	<!-- 신고항목 사용여부 수정 -->
	<update id="csj_decDel">
		update declarationcontents set dec_blind=#{param2} where dec_code=#{param1}
	</update>
	
	<!-- 신고항목 내용 수정 -->
	<update id="csj_decUpdate">
		update declarationcontents set dec_name=#{param1} where dec_code=#{param2}
	</update>
	
	<!-- 신고항목 처리 등록 -->
	<insert id="csj_resolRegist">
		insert into reportsolution(sol_state,dec_num,sol_admin)values(#{param1},#{param2},#{param3})
	</insert>
	
	<!-- 처리된 항목 페이지 -->
	<select id="csj_declist2Count" resultType="int">
		select count(sol_num) from reportsolution
	</select>
	
	<!-- 처리된 항목 리스트 -->
	<select id="csj_declist2" resultType="com.daily.share.dto.CsjReportDTO">	
		select r.sol_num,r.sol_state ,r.sol_admin, r.sol_state,r.sol_date, d.dec_code,d.dec_num,d.dec_target,d.dec_targetNum,d.dec_targetId,d.mem_id,d.dec_name from reportsolution r left outer join (select a.dec_code,a.dec_num, a.dec_date,a.dec_target,a.dec_targetNum,a.dec_targetId,a.mem_id,b.dec_cont,b.dec_blind,b.dec_name from declarationlist a left outer join declarationcontents b on a.dec_code = b.dec_code order by dec_num desc) d on r.dec_num = d.dec_num order by r.sol_num desc
	</select>
	
	<!-- 좋아요 수 요청 -->
	<select id="csj_likenum" resultType="int">
		select board_like from board where board_num=#{param1}
	</select>
	
	
	
	
	
	
	
	
	
	
	<!-- 나를 구독중인 사람 목록 불러오기 -->
<!-- 	<select id="csjSubList" resultType="com.daily.share.dto.CsjSubDTO">
		select * from subscription where sub_id = #{param1}
	</select> -->
	
	<!-- 구독여부 확인하기 -->
<!-- 	<select id="csjSubCall" resultType="int">
		select count(sub_num) from subscription where mem_id = #{param1} and sub_id=#{param2}
	</select> -->
	
	

	
	
	
	
	
	
	
	
	
	
	
</mapper>