<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.daily.share.dao.CywDAO">
	<!-- 대분류 추가 -->
	<insert id="bigCategoryAdd">
		INSERT INTO mainCategory(main_name,main_admin)VALUES (#{param1},#{param2})
	</insert>
	<!-- 대분류 리스트 가져오기 -->	
	<select id="bigCategoryList" resultType="com.daily.share.dto.CywDTO">
		SELECT main_name,main_num from mainCategory WHERE main_blind = 0
	</select>

	<!-- 대분류 블라인드 처리 -->
	<update id="bigCategoryDel">
		UPDATE mainCategory SET main_blind = 1 WHERE main_num = #{param1}
	</update>
	<!-- 중분류 추가 -->
	<insert id="middleCategoryAdd">
		INSERT INTO middleCategory(mid_name,main_num,mid_admin)VALUES (#{param1},#{param2},#{param3})
	</insert>
	<!-- 중분류 리스트 불러오기 -->
	<select id="midCategoyrList" resultType="com.daily.share.dto.CywDTO">
		SELECT mid_name,mid_num,main_num from middleCategory WHERE mid_blind = 0
	</select>
	<!-- 중분류 블라인드 -->
	<delete id="midCategoryDel">
		UPDATE middleCategory SET mid_blind = 1 WHERE mid_num = #{param1}
	</delete>
	<!-- 메뉴 추가 -->
	<insert id="menuAdd">
		INSERT INTO menu(menu_name,main_num,mid_num,mem_id)VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
	<!-- 메뉴리스트불러오기 -->
	<select id="menuList" resultType="com.daily.share.dto.CywDTO">
		SELECT * from menu WHERE menu_blind = 0 and mem_id = #{param1}
	</select>
	<!-- 메뉴블라인드 -->
	<delete id="menuDel">
		UPDATE menu SET menu_blind = 1 WHERE menu_num = #{param1}
	</delete>
	<!-- 대분류 블라인드시 하위 중분류 확인 -->
	<select id="bigCateFk" resultType="integer">
		SELECT count(main_num) from middleCategory where main_num = #{param1} and mid_blind = 0
	</select>
	<!-- 중분류 블라인드시 하위 메뉴 확인 -->
	<select id="midCateFk" resultType="integer">
		SELECT count(mid_num) from menu where mid_num = #{param1} and menu_blind = 0
	</select>
	<!-- 메뉴블라인드시 하위게시글 확인 -->
	<select id="menuCateFk" resultType="integer">
		SELECT count(menu_num) from board where menu_num = #{param1} and board_blind = 0
	</select>
	
	
	
	<select id="midCategoryCall" resultType="com.daily.share.dto.CywDTO">
		SELECT mid_name from middleCategory where main_num = #{param1} and mid_blind = 0
	</select>
	

	<!-- 대분류 클릭시 해당 게시물 출력 -->
	<select id="middleListCall" resultType="com.daily.share.dto.CywDTO">
		SELECT * from 
			menu m join mainCategory b 
			on m.main_num = b.main_num
			join middleCategory j
			on m.mid_num = j.mid_num
			join board d 
			on m.menu_num = d.menu_num
			WHERE b.main_num = #{param1}
	</select>

	
	<!-- 해당 게시물 클릭시 자세히보기 -->
	<select id="boardDetail" resultType="com.daily.share.dto.CywDTO">
		SELECT * FROM board WHERE board_num = #{param1}
	</select>

	<update id="upHit">
		UPDATE board SET board_views = board_views + 1 WHERE board_num = #{param1}
	</update>
	
	<update id="boardDel">
		UPDATE board SET board_blind = 1 WHERE board_num = #{param1}
	</update>
	
	<update id="update" parameterType="hashmap">
		UPDATE board SET board_subject = #{subject},board_cont = #{content}
	</update>
	
	<insert id="ForumBoardAdd">
		INSERT INTO board(board_subject,board_cont,menu_num,mem_id)VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
	
	<select id="ForumBoardList" resultType="com.daily.share.dto.CywDTO">
		SELECT * FROM board WHERE menu_num = 21 order by board_num DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="ForumSearch" resultType="com.daily.share.dto.CywDTO">
	<![CDATA[
	select * from board
	where 1=1
	]]><choose>
	<when test="param2 =='All'"><![CDATA[
	and (mem_id LIKE CONCAT('%',#{param1},'%')  %a%
	or board_cont LIKE CONCAT('%',#{param1},'%')
	or board_subject LIKE CONCAT('%',#{param1},'%'))
	]]></when>
	<when test="param2 =='User'"><![CDATA[
	AND mem_id LIKE CONCAT('%',#{param1},'%')
	]]></when>
	<otherwise><![CDATA[
	AND (board_cont LIKE CONCAT('%',#{param1},'%')
	or board_subject LIKE CONCAT('%',#{param1},'%'))
	]]></otherwise>
	</choose>
	</select>
	
	<select id="FeedPageListCall" resultType="com.daily.share.dto.CywDTO">
		select *from (select sub_id from subscription where mem_id=#{param1}) s left outer join board b on s.sub_id = b.mem_id where board_blind=0 order by board_date desc
	</select>
	
	<select id="subCount" resultType="Integer">
		SELECT count(sub_id) FROM subscription WHERE mem_id = #{param1}
	</select>
	
	<select id="feedListCall" resultType="com.daily.share.dto.CywDTO">
		select *from (select sub_id from subscription where mem_id=#{param3}) s left outer join board b on s.sub_id = b.mem_id where board_blind=0 order by board_date desc LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allCount" resultType="int">
		select COUNT(board_num) from (select sub_id from subscription where mem_id=#{param1}) s left outer join board b on s.sub_id = b.mem_id where board_blind=0 order by board_date desc
	</select>
	

	<select id="AlrimPageList" resultType="com.daily.share.dto.CywDTO">
		select a.alarm_num ,a.alarm_date ,a.alarm_targetNum ,a.alarm_target,b.mem_id from alarm a left join board b on b.board_num =a.alarm_targetNum where a.mem_id=#{param1} ORDER BY a.alarm_num DESC LIMIT #{param2} OFFSET #{param3}
	</select>
	
	<select id="allCountAlrim" resultType="int">
		SELECT COUNT(alarm_num) FROM alarm WHERE mem_id = #{param1}
	</select>
	
	<select id="reviewList" resultType="com.daily.share.dto.CywDTO">
		SELECT * FROM comment WHERE mem_id = #{param3} and com_blind = 0 ORDER BY com_num DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allCountReview" resultType="int">
		SELECT COUNT(com_num) FROM comment WHERE mem_id = #{param3}
	</select>
	
	<select id="boardList" resultType="com.daily.share.dto.CywDTO">
		SELECT * FROM board WHERE mem_id = #{param3} and board_blind = 0 ORDER BY board_num DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allCountBoard" resultType="int">
		SELECT COUNT(board_num) FROM board WHERE mem_id = #{param3}
	</select>

	<delete id="alrimDel">
		DELETE FROM alarm WHERE alarm_num = #{param1}
	</delete>
	
	<delete id="MyComDel">
		UPDATE comment SET com_blind = 1 WHERE com_num = #{param1}
	</delete>
	
	<delete id="MyBoardDel">
		UPDATE board SET board_blind = 1 WHERE board_num = #{param1}
	</delete>

	<insert id="boardSingo">
		INSERT INTO declarationList(dec_target,dec_targetNum,mem_id)VALUES(1,#{param1},#{param2})
	</insert>
	
		
	<select id="MainPageBigCateGory" resultType="com.daily.share.dto.CywDTO">
		SELECT main_name,main_num FROM mainCategory WHERE main_blind = 0 and main_admin = 0
	</select>
	
</mapper>