<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.daily.share.dao.CywDAO">

	<insert id="bigCategoryAdd">
		INSERT INTO mainCategory(main_name,main_admin)VALUES (#{param1},#{param2})
	</insert>
		
	<select id="bigCategoryList" resultType="com.daily.share.dto.CywDTO">
		SELECT main_name,main_num from mainCategory
	</select>
	
	<delete id="bigCategoryDel">
		DELETE FROM mainCategory WHERE main_num = #{param1}
	</delete>
	
	<insert id="middleCategoryAdd">
		INSERT INTO middleCategory(mid_name,main_num,mid_admin)VALUES (#{param1},#{param2},#{param3})
	</insert>
	
	<select id="midCategoyrList" resultType="com.daily.share.dto.CywDTO">
		SELECT mid_name,mid_num,main_num from middleCategory
	</select>
	
	<delete id="midCategoryDel">
		DELETE FROM middleCategory WHERE mid_num = #{param1}
	</delete>
	
	<insert id="menuAdd">
		INSERT INTO menu(menu_name,main_num,mid_num)VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<select id="menuList" resultType="com.daily.share.dto.CywDTO">
		SELECT menu_num,menu_name,menu_blind,main_num,mid_num from menu
	</select>
	
	<delete id="menuDel">
		DELETE FROM menu WHERE menu_num = #{param1}
	</delete>
	
	<select id="bigCategorySearch" resultType="integer">
		SELECT count(mid_num) FROM middleCategory WHERE main_num = (#{param1})  
	</select>
	
	<!-- 중분류 삭제시 셀렉트 -->
	<select id="midCategoryF" resultType="integer">
		SELECT count(mid_num) FROM menu WHERE mid_num = (#{param1}) 
	</select>

</mapper>