<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.daily.share.dao.HjwDAO">

	<select id="login" resultType="String">
		select mem_id from members
		where mem_id = #{param1} and mem_pw = #{param2}
	</select>
	
	<select id="IdS" resultType="String">
      select mem_id from members
         where mem_name = #{param1} and mem_phone = #{param2} and mem_email = #{param3}
   </select>
   
	<select id="PwS" resultType="String">
      select mem_email from members
         where mem_id = #{param1} and mem_name = #{param2} and mem_phone = #{param3} and mem_email = #{param4}
   </select>
	
	<update id="PwC">
		update members set mem_pw = #{param2} where mem_Id = #{param1}
	</update>
	
	<select id="memlist" resultType="com.daily.share.dto.HjwDTO">	
		SELECT mem_id, mem_name, mem_email, mem_phone, mem_date FROM members ORDER BY mem_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="declist1" resultType="com.daily.share.dto.HjwDTO">	
		SELECT a.dec_num, a.mem_id, a.target_id, b.dec_name, a.dec_date, b.dec_cont
		from declarationList a inner join declarationContents b on a.dec_code = b.dec_code
		where a.mem_id and a.target_id and b.dec_name	
	</select>

	<select id="allCount" resultType="int">
		SELECT COUNT (mem_id) FROM members
	</select>
	
	<select id="allCount1" resultType="int">
		SELECT COUNT (dec_num) FROM declarationList
	</select>

	<!-- 검색 쿼리 / 공백 입력 처리 안했으니 주의할것!! -->
	<select id="SearchList" parameterType="com.daily.share.dto.HjwDTO" resultType="com.daily.share.dto.HjwDTO">
		SELECT mem_id, mem_name, mem_email, mem_phone, mem_date FROM members 
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null">
				<if test="SearchType == 'all'">
					AND (mem_id LIKE CONCAT('%',#{keyword},'%') OR mem_name LIKE CONCAT('%',#{keyword},'%'))
				</if>
				<if test="SearchType == 'mem_id'">
					AND mem_id LIKE CONCAT ('%',#{keyword},'%')
				</if>
				<if test="SearchType == 'mem_name'">
					AND mem_name LIKE CONCAT ('%',#{keyword},'%')
				</if>
			</if>
		</trim>
	</select>
	
	<select id="SearchList1" parameterType="com.daily.share.dto.HjwDTO" resultType="com.daily.share.dto.HjwDTO">
		SELECT a.dec_num, a.mem_id, a.target_id, b.dec_name, a.dec_date, b.dec_cont
		from declarationList a inner join declarationContents b on a.dec_code = b.dec_code
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="deckeyword != null">
				<if test="decSearchType == 'all'">
					AND (a.mem_id LIKE CONCAT('%',#{deckeyword},'%') OR a.target_id LIKE CONCAT('%',#{deckeyword},'%')
					OR b.dec_name LIKE CONCAT('%',#{deckeyword},'%'))
				</if>
				<if test="decSearchType == 'a.mem_id'">
					AND a.mem_id LIKE CONCAT ('%',#{deckeyword},'%')
				</if>
				<if test="decSearchType == 'a.target_id'">
					AND a.target_id LIKE CONCAT ('%',#{deckeyword},'%')
				</if>
				<if test="decSearchType == 'b.dec_name'">
					AND b.dec_name LIKE CONCAT ('%',#{deckeyword},'%')
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="enr_decM" parameterType="hashmap">
		INSERT INTO declarationContents(dec_name)
		VALUES(#{decMkeyword})
	</insert>
	
	<select id="declist3" resultType="com.daily.share.dto.HjwDTO">
		SELECT dec_code,dec_name,dec_blind
			FROM declarationContents ORDER BY dec_code DESC
	</select>
	
	<update id='decupdate' parameterType="hashmap">
		UPDATE declarationContents SET
		dec_name = #{dec_name}
		WHERE dec_code = #{dec_code}
	</update>
</mapper>
