<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.daily.share.dao.HjwDAO">

	<select id="login" resultType="String">
		select mem_id from members
		where mem_id = #{param1} and mem_pw = #{param2}
	</select>
	
	<select id="IdS" resultType="String">
      select mem_id from members
         where mem_name = #{param1} and mem_phone = #{param2} and mem_email = #{param3}
   </select>
   
	<select id="PwS" resultType="String">
      select mem_email from members
         where mem_id = #{param1} and mem_name = #{param2} and mem_phone = #{param3} and mem_email = #{param4}
   </select>
	
	<update id='update' parameterType="hashmap">
		UPDATE members SET
		mem_pw = #{mem_pw}
		WHERE mem_id = #{searchId}
	</update>
	
</mapper>
