<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.daily.share.dao.ShjDAO">


	<!-- 리스트 관련 쿼리 -->
	<select id="list" resultType="com.daily.share.dto.ShjDTO">
		SELECT mem_id, mem_name, mem_email, mem_phone, mem_out, mem_san FROM members ORDER BY mem_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allCount" resultType="int">
		SELECT COUNT (mem_id) FROM members
	</select>



	<!-- 관리자 리스트 -->
	<select id="adlist" resultType="com.daily.share.dto.ShjDTO">
		SELECT mem_id, mem_name, mem_email, mem_phone FROM members WHERE mem_admin = 1 ORDER BY mem_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="adminCount" resultType="int">
		SELECT COUNT (mem_id) FROM members where mem_admin=1
	</select>
	
	
	
	
	
	
	<!-- 검색 쿼리 / 공백 입력 처리 안했으니 주의할것!! -->
	<select id="getSearchList" parameterType="com.daily.share.dto.ShjDTO" resultType="com.daily.share.dto.ShjDTO">
		SELECT mem_id, mem_name, mem_email, mem_phone, mem_out, mem_san FROM members 
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null">
				<if test="SearchType == 'all'">
					AND mem_id OR mem_name LIKE CONCAT ('%',#{keyword},'%')
				</if>
				<if test="SearchType == 'mem_id'">
					AND mem_id LIKE CONCAT ('%',#{keyword},'%')
				</if>
				<if test="SearchType == 'mem_name'">
					AND mem_name LIKE CONCAT ('%',#{keyword},'%')
				</if>
			</if>
		</trim>
	</select>
	
	
	<!-- 게시글 추천시 insert -->
	<insert id="insertLike">
		INSERT INTO likes (board_num, mem_id) VALUES (#{param1}, #{param2})
	</insert>
	
	<!-- 게시글 테이블에 좋아요 추가 -->
	<update id="updateBLike" parameterType="int">
		UPDATE board SET board_like = board_like+1 WHERE board_num = #{param1}
	</update>
	
	
	<!-- 한번 더 눌러서 삭제 -->
	<delete id="deleteLike">
		DELETE FROM likes where board_num = #{param1} AND mem_id = #{param2}
	</delete>
	
	<!-- 게시글 테이블에 좋아요 제거 -->
	<update id="CancelBLike" parameterType="int">
		UPDATE board SET board_like = board_like-1 WHERE board_num = #{param1}
	</update>
	
	<!-- 좋아요 유무 확인 -->
	<select id="LikeCheck"  resultType="int">
		SELECT count(rec_num) FROM likes WHERE board_num = #{param1} AND mem_id = #{param2}
	</select>
	
	<!-- 관리자 찾기 -->
	<select id="AdRegist" resultType="com.daily.share.dto.ShjDTO">
		SELECT mem_id FROM members WHERE mem_id = #{param1}
	</select>
	
	<!-- 관리자 등록 -->
	<update id="AdRegistUP">
		UPDATE members SET mem_admin = 1 WHERE mem_id = #{param1}
	</update>
	<insert id="AdRegistUP2">
		insert into admins(mem_id)values(#{param1})
	</insert>
	
	<!-- 관리자 해제 -->
	<update id="AdRegistDW">
		UPDATE members SET mem_admin = 0 WHERE mem_id = #{param1}
	</update>
	<delete id="AdRegistDW2">
		delete from admins where mem_id = #{param1}
	</delete>
	
	
	<!-- 회원 존재 여부 -->
	<select id="checkMembers" resultType="int">
		select count(mem_id) from members where mem_id=#{param1}
	</select>
	<!-- 관리자 테이블 여부 -->
	<select id="checkAdmins" resultType="int">
		select count(adm_num) from admins where mem_id=#{param1}
	</select>
	
</mapper>