<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.daily.share.dao.ShsDAO">

	<!-- 중복체크 -->	
	<select id="overlay" resultType="String">
			SELECT mem_id FROM members WHERE mem_id = #{param1}
	</select>
	
	<!-- 회원가입 -->	
	<insert id="join" parameterType = "hashmap">
	      INSERT INTO members (mem_id,mem_pw,mem_name,mem_email,mem_phone,mem_url,mem_blog)
	        VALUES(#{id},#{pw},#{name},#{email},#{phone},#{id},#{bname})
	 </insert>
	
	
	<!-- 개인정보 확인 -->
	<select id="memberDe" resultType="com.daily.share.dto.ShsDTO">
		select mem_name,mem_email, mem_phone from members WHERE mem_id =#{param1}
	</select>
		
	<!-- 개인정보 수정 -->
	<update id="userUp">
		UPDATE members SET
			mem_id = #{param1}
			,mem_pw = #{param2}
			,mem_email = #{param3}
			,mem_phone = #{param4}
		WHERE mem_id = #{param1}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="memberOut">
		DELETE FROM members
		WHERE mem_id = #{param1}
	</delete>
	
	
	
	
	<!-- 구독리스트 - 나를 구독 -->
	<select id="FollowerList" resultType="com.daily.share.dto.ShsDTO">
		select mem_id from subscription
		where sub_id =#{param1}
	</select>
	

	<!-- 구독리스트 - 내가 구독 -->
	<select id="FollowingList" resultType="com.daily.share.dto.ShsDTO">
		select sub_id
		from subscription
		where subscription.mem_id =#{param1}
	</select>
	
	
	<!-- 구독여부 확인하기 -->
	<select id="followBtnShs" resultType="int">
		select count(sub_num) from subscription where mem_id = #{param1} and sub_id=#{param2}
	</select>
	
	
	<!-- 구독 추가하기 -->
	<insert  id="followPlusShs">

		INSERT INTO subscription (sub_id, mem_id)
        VALUES  	(#{param1}, #{param2})
	</insert >

	<!-- 언팔 하기 -->
	<delete id="followDelShs" >
		DELETE FROM subscription
		WHERE sub_id = #{param1} AND mem_id = #{param2}
	</delete>	


	
	<!-- 개인정보 확인 -->
	<select id="PassCk" resultType="String">
		select mem_id,mem_pw from members WHERE mem_id =#{param1} and mem_pw=#{param2}
	</select>







</mapper>