.u-section-1 .u-sheet-1 {
  min-height: 903px;
}

.u-section-1 .u-post-details-1 {
  min-height: 810px;
  margin-top: 0;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px 15px;
}

.u-section-1 .u-metadata-1 {
  font-size: 1.125rem;
  margin: 28px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 8px 133px 0 7px;
}

.u-section-1 .u-metadata-2 {
  margin: -26px 7px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 344px;
  width: 540px;
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 280px;
    width: 440px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 210px;
    width: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: -651px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 365px;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 165px;
    width: 260px;
    margin-top: 179px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -319px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-metadata-1 {
    margin-top: -575px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 327px;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: -76px;
  }

  .u-section-1 .u-image-1 {
    height: 102px;
    width: 160px;
    margin-top: 229px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -179px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 15px auto 0 23px;
  padding: 3px 20px 4px 18px;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  margin-right: 18px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  margin: -28px 26px 0 auto;
  padding: 0;
}

.u-section-2 .u-metadata-1 {
  margin: -27px auto 0 125px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  margin: -24px 82px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  margin: -25px 140px 0 auto;
  padding: 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 8px;
  transform-origin: left center 0px;
}

.u-section-2 .u-form-1 {
  margin-bottom: 30px;
  margin-top: 30px;
  height: 67px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}